.app {
  margin-left: 15px;
}

.app > h4 {
  margin-top: 20px;
}

.currencyConverter {
padding: 20px;
}

.currencyConverter-container{
  display: flex;
  gap: 16px;
}

.currencyConverter__dropdowns {
padding: 20px;
width: 250px;
border-radius: 9px;
}

.currencyConverter__input {
  display: flex;
  margin-top: 20px;
}

.currencyConverter__inputs {
  padding: 20px;
  width: 205px;
  background-color: rgb(240, 235, 235);
  border: none;
  
}

button {
  height: 30px;
  margin-top: 10px;
  border: solid 1px #ccc;
}